html,body{
    font-family: Arial, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.container{

    padding: 10px;
}
.wrapper{
    width: 90%;
    height: 650px;
    margin: 0 auto;
}